In [ ]:
! pip3 install pyalgotrading
! pip3 install requests

In [4]:
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt
# from pyalgotrading import plot_candlestick

In [5]:
class ScriptData:
    def __init__(self, api_key):
        self.api_key = api_key
    
    def fetch_intraday_data(self, script):
        url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={script}&interval=1min&apikey={self.api_key}'
        response = requests.get(url)
        data = json.loads(response.text)
        return data['Time Series (1min)']
    
    def convert_intraday_data(self, script):
        data = self.fetch_intraday_data(script)
        df = pd.DataFrame.from_dict(data, orient='index')
        df.index = pd.to_datetime(df.index)
        df.columns = ['open', 'high', 'low', 'close', 'volume']
        df = df.astype({'open': float, 'high': float, 'low': float, 'close': float, 'volume': int})
        return df
    
    def __getitem__(self, script):
        return self.convert_intraday_data(script)
    
    def __setitem__(self, script, value):
        raise NotImplementedError("Setting data is not supported.")
    
    def __contains__(self, script):
        # Check if the script exists in the dataset
        return script in self.fetch_intraday_data(script)

In [9]:
api_key = 'YZ9YWZ8MACKQHN7K'  # Replace with your Alpha Vantage API Key
script_data=ScriptData(api_key)
script_data.fetch_intraday_data('GOOGL')
script_data.convert_intraday_data('GOOGL')
script_data['GOOGL']

                         open     high      low   close  volume
2023-06-15 19:58:00  124.8500  124.850  124.850  124.85     223
2023-06-15 19:57:00  124.8500  124.850  124.850  124.85     319
2023-06-15 19:47:00  124.8000  124.820  124.790  124.79     994
2023-06-15 19:46:00  124.8400  124.840  124.840  124.84     255
2023-06-15 19:45:00  124.8200  124.820  124.820  124.82     313
...                       ...      ...      ...     ...     ...
2023-06-15 15:45:00  125.2400  125.310  125.190  125.25  103546
2023-06-15 15:44:00  125.2350  125.265  125.215  125.24   60467
2023-06-15 15:43:00  125.2882  125.310  125.210  125.24   85999
2023-06-15 15:42:00  125.3800  125.395  125.280  125.28   78276
2023-06-15 15:41:00  125.2600  125.400  125.250  125.37   88348

[100 rows x 5 columns]

In [10]:
script_data.fetch_intraday_data('AAPL')
script_data.convert_intraday_data('AAPL')
script_data['AAPL']

                       open    high     low   close  volume
2023-06-15 19:59:00  185.74  185.74  185.73  185.73    1521
2023-06-15 19:58:00  185.74  185.74  185.74  185.74     415
2023-06-15 19:57:00  185.73  185.74  185.73  185.74     401
2023-06-15 19:56:00  185.75  185.76  185.72  185.72     670
2023-06-15 19:55:00  185.73  185.75  185.72  185.75    3394
...                     ...     ...     ...     ...     ...
2023-06-15 16:49:00  185.62  185.62  185.61  185.61     618
2023-06-15 16:48:00  185.61  185.64  185.61  185.64     459
2023-06-15 16:47:00  185.57  185.59  185.57  185.59    1183
2023-06-15 16:46:00  185.55  185.57  185.55  185.57     630
2023-06-15 16:45:00  185.65  185.65  185.61  185.61    1527

[100 rows x 5 columns]

In [11]:
'GOOGL' in script_data

False

In [12]:
'AAPL' in script_data

False

In [13]:
'NVDA' in script_data

False

In [6]:
def indicator1(df, timeperiod):
    indicator = df['close'].rolling(timeperiod).mean()
    indicator_df = pd.DataFrame({'timestamp': df.index, 'indicator': indicator})
    return indicator_df

In [14]:
indicator1(script_data['GOOGL'],timeperiod=5)

                              timestamp  indicator
2023-06-15 19:58:00 2023-06-15 19:58:00        NaN
2023-06-15 19:57:00 2023-06-15 19:57:00        NaN
2023-06-15 19:47:00 2023-06-15 19:47:00        NaN
2023-06-15 19:46:00 2023-06-15 19:46:00        NaN
2023-06-15 19:45:00 2023-06-15 19:45:00    124.830
...                                 ...        ...
2023-06-15 15:45:00 2023-06-15 15:45:00    125.233
2023-06-15 15:44:00 2023-06-15 15:44:00    125.217
2023-06-15 15:43:00 2023-06-15 15:43:00    125.211
2023-06-15 15:42:00 2023-06-15 15:42:00    125.234
2023-06-15 15:41:00 2023-06-15 15:41:00    125.276

[100 rows x 2 columns]

In [16]:
indicator1(script_data['AAPL'],timeperiod=5)

                              timestamp  indicator
2023-06-15 19:59:00 2023-06-15 19:59:00        NaN
2023-06-15 19:58:00 2023-06-15 19:58:00        NaN
2023-06-15 19:57:00 2023-06-15 19:57:00        NaN
2023-06-15 19:56:00 2023-06-15 19:56:00        NaN
2023-06-15 19:55:00 2023-06-15 19:55:00    185.736
...                                 ...        ...
2023-06-15 16:49:00 2023-06-15 16:49:00    185.634
2023-06-15 16:48:00 2023-06-15 16:48:00    185.632
2023-06-15 16:47:00 2023-06-15 16:47:00    185.616
2023-06-15 16:46:00 2023-06-15 16:46:00    185.604
2023-06-15 16:45:00 2023-06-15 16:45:00    185.604

[100 rows x 2 columns]

In [7]:
class Strategy:
    def __init__(self, api_key,script):
        self.script_data = ScriptData(api_key)
        self.script=script
    
    def fetch_data(self):
        return self.script_data[self.script]
    
    def compute_indicator(self, df, timeperiod):
        return indicator1(df, timeperiod)
    
    def generate_signals(self, df, indicator_data):
        signals = pd.DataFrame({'timestamp': df.index, 'signal': 'NO_SIGNAL'})
        signals.loc[signals['timestamp'].isin(indicator_data.loc[indicator_data['indicator'] > df['close'], 'timestamp']), 'signal'] = 'BUY'
        signals.loc[signals['timestamp'].isin(indicator_data.loc[indicator_data['indicator'] < df['close'], 'timestamp']), 'signal'] = 'SELL'
        return signals.loc[signals['signal'].isin(['BUY', 'SELL'])]
    
    # def plot_candlestick(self, df, indicator_data):
    #     fig, ax = plt.subplots(figsize=(10, 6))
    #     plot_candlestick(ax, df['timestamp'], df['open'], df['high'], df['low'], df['close'], width=0.6, colorup='g', colordown='r')
    #     ax.plot(indicator_data['timestamp'], indicator_data['indicator'], color='gray', linewidth=2)
    #     plt.show()
    
    def execute_strategy(self, timeperiod):
        df = self.fetch_data(self.script)
        indicator_data = self.compute_indicator(df, timeperiod)
        signals = self.generate_signals(df, indicator_data)
        print(signals)
        # self.plot_candlestick(df, indicator_data)

In [8]:
strategy = Strategy(api_key,'NVDA')
strategy.execute_strategy('GOOGL', 5)

             timestamp signal
4  2023-06-15 19:45:00    BUY
5  2023-06-15 19:36:00   SELL
6  2023-06-15 19:35:00   SELL
7  2023-06-15 19:19:00   SELL
8  2023-06-15 19:12:00    BUY
..                 ...    ...
95 2023-06-15 15:45:00   SELL
96 2023-06-15 15:44:00   SELL
97 2023-06-15 15:43:00   SELL
98 2023-06-15 15:42:00   SELL
99 2023-06-15 15:41:00   SELL

[95 rows x 2 columns]